
@font-face {
  font-family: Antro_Vectra;
  src: url("../fonts/Antro_Vectra.otf");
}

@font-face {
  font-family: Antro_Vectra_Bold;
  src: url("../fonts/Antro_Vectra_Bolder.otf");
}

@font-face {
  font-family: Creation_demo;
  src: url("../fonts/Creattion\ Demo.otf");
}



.about-section {
  padding-bottom: 100px;
  margin-top: 850px;
  background-color: white;
  border-top: 3px solid black;
  

}

.about-page-structure {
  margin: 50px 0 120px 0;
}


.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}

.sage-img {
  height:500px;
  border-radius: 10px 10px 10px 10px;
  margin: 0 30px 0 0;
}

.sage-img2 {
  width:750px;
  border-radius: 10px 10px 10px 10px;
}



.about-page-structure {
  display: flex;
  justify-content: space-around;
}

.art-therapy-description {
  font-family: "Overpass";
  font-size: 25px;
  padding:0px 0px;
  animation:ease-out;
  transition: 0.5s;
  
}

.art-subtitle {
  font-size: 80px;
  font-family: 'Antro_Vectra_Bold';
  font-weight:bolder;
  text-align: center;
  margin-right: 120px;
  margin-top: 100px;
  color:  #728153;
  padding-bottom: 20px;
}

.text-on-left {
  margin: 0 80px 0 50px ;
  font-size: 20px;
  color: #728153;
}

.mobile-pic {
  display: none;
}

.single-green-leaf-about {
  margin: 30px 20px 0 20px;
  font-size: 50px;
  color: #91b689;   
}


@media (max-width: 1440px) {



.about-section {
  padding-bottom: 50px;
 

}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}

.art-therapy-description {
  font-family: "Overpass";
  font-size: 20px;
  padding:0px 0px;
  animation:ease-out;
  transition: 0.5s;
  color:#728153;
}

.sage-img {
  height:400px; 
}

.sage-img2 {
  width:600px
}


.about-page-structure {
  display: flex;
  justify-content: space-around;
}


.art-subtitle {
  font-size: 70px;
  font-family: 'Antro_Vectra_Bold';
  font-weight:bolder;
  text-align: center;
  color: #728153;
  padding-bottom: 50px;
  margin: 40px 20px 0px 20px;

}


}

  

@media (max-width: 1024px){ 
 
  
  .art-therapy-description {

      
      font-family: "Overpass";
      font-size: 20px;
      margin-top:45px;
    }

    .about-page-structure {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
      margin-left:50px;
    }
}





@media (max-width: 768px){ 
  .sage-img {
    height:600px;
    border-radius: 10px;
    margin-right:80px;
  }
  
  
  .art-therapy-description {

     
      font-family: "Overpass";
      font-size: 20px;
      margin: 10px 15px 0px 15px;
    }

    .about-page-structure {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0px;
      
    }

    .art-subtitle {
      font-size: 80px;
      margin-right: 0px;
      margin-left:0px;
    }

    .sage-img2 {
      display: none;
    }

    .sage-img {
      height:400px;
      margin-top: 20px;
      align-items: center;
      margin-right: 0;
      margin-left:85px;

    }
}

@media (max-width: 425px){ 

  .sage-img {
    display:none;
  }
  
  .art-therapy-description {  
      font-size: 15px;
      margin-top:20px;
      margin-bottom: 20px;
      font-family: "Poppins";
    }

    .about-page-structure {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      padding:0;
    }

    .art-subtitle {
      font-size: 45px;
      text-align: center;
      margin: 50px 0px 0px 0px;
      padding-bottom: 30px;
    }

    .text-on-left {
      margin: 0 0;
      font-size: 20px;
      color:white;
    }

    .mobile-pic {
      display: flex;
      width:100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
}



@media (max-width: 375px){ 

  .sage-img {
    display:none;
  }
  
  .art-therapy-description {
      font-family: "Overpass";
      font-size: 15px;
      margin: 10px 10px 10px 10px;
      width:none;
    }

    .about-page-structure {
      margin-top: 20px;
      display: flex;
      flex-direction: column-reverse;
    }

    .art-subtitle {
      font-size: 35px;
      text-align: center;
      font-family: 'Antro_Vectra_Bold';
      margin-left:0px;
      margin-right:0px;
    }
}

@media (max-width: 320px){ 

.art-therapy-description {
  width: 100%;
  font-family: "Overpass";
  font-size: 10px;
  margin: 0px 20px 0px 20px;
}

.art-subtitle {
  margin: 10px 10px 10px 10px;

}

}

