.gif-background {
    display: initial;
    object-fit: cover;
    height: 100%;
  }

@media (max-width: 768px){

  .gif-background {
    display: initial;
    object-fit: cover;
    height: 100%;
  }

}