.model-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  z-index: 1000;
  border-radius:10px;
}


.important-content {
  padding:30px 120px 100px 120px; 
  border: solid 2px black;

}

.x-botton {
  border:none;
  background-color: #f4f4f4;
  font-size: 30px;
  animation:ease-out;
  transition: 0.5s;
  position: absolute;
  right:15px;
  top:15px;
}
.x-botton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.distress-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  margin-bottom: 5px;
  margin-top: 10px;
}

.crisis-title {
  font-size: 45px;
  font-family: "Overpass"; 
  text-align: center;
  margin-top: 0;
}

.distress-number {
  text-align: center;
  font-size: 20px;
  font-family: "Overpasss";
  margin: 0px 170px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #91b689;
  margin: 0 100px 0 100px;
}

.distres-box {
  margin-bottom: 50px 0 0 0;
}


.crisis-option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
  animation:ease-out;
  transition: 0.5s;
  border-radius: 5px;
  border: solid 2px black;

}

.distress-number > a {
  color: white;
  animation:ease-out;
  transition: 0.5s;
}

.distress-number:hover {
  background-color: rgb(94, 135, 94);
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px -5px;
}

.crisis-option:hover {
  background-color: rgb(197, 228, 185);
  transform: scale(1.02);
  color: black;
}

.NIRSC-title {
  text-align: center;
  font-size: 22px;
  font-family: "Poppins";
  margin-bottom: 0px;
  margin-top: 10px;
}



@media (max-width: 768px){

  .important-content {
    width: 600px;
    padding: 0 0 0 0;
  }
  
  .model-styles {
    border-radius:10px;
  }
  
  .distress-number {
    text-align: center;
    font-size: 20px;
    font-family: "Overpasss";
    margin: 0px 40px;
    padding: 3px 0px;
    border-radius: 10px;
    background-color: rgb(94, 135, 94);
  
  }
  .distress-number > a {
    color: white;
  }

  .distres-box {
    margin-bottom: 80px;
  }
  
  .distress-number:hover {
    transform: scale(1.1);
  }
  
  .crisis-option {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 90px;
    animation:ease-out;
    transition: 0.5s;
    width:400px;
  }
  
  .crisis-title {
    font-size: 35px;
    margin-bottom: 0px;
    font-family: "Poppins";
    padding-top: 10px;
    margin-left: 20px;
  }
  
  .distress-title {
    text-align: center;
    font-size: 19px;
    font-family: "Poppins";
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .NIRSC-title {
    text-align: center;
    font-size: 18px;
    font-family: "Poppins";
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  }


@media (max-width: 425px) {
.important-content {
  width: 360px;
  padding: 0 0 0 0;
}

.model-styles {
  border-radius:10px;
}

.distress-number {
  text-align: center;
  font-size: 20px;
  font-family: "Overpasss";
  margin: 0px 40px;
  padding: 3px 0px;
  border-radius: 10px;
  background-color: rgb(94, 135, 94);

}
.distress-number > a {
  color: white;
}
.distres-box {
  margin: 40px 10px;
}
.distress-number:hover {
  transform: scale(1.1);
}

.crisis-option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px;
  width:300px;
  animation:ease-out;
  transition: 0.5s;
}

.crisis-title {
  font-size: 35px;
  margin: 0 30px 0 0;
  font-family: "Poppins";
  padding-top: 10px;
}

.distress-title {
  text-align: center;
  font-size: 19px;
  font-family: "Poppins";
  margin-bottom: 0px;
  margin-top: 0px;
}

.NIRSC-title {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: 0px;
  margin-top: 0px;
}

}

@media (max-width: 375px) {
  .important-content {
    width: 330px;
    padding: 0 0 0 0;
  }
  
  
  .model-styles {
    border-radius:10px;
  }
  
  .distress-number {
    text-align: center;
    font-size: 20px;
    font-family: "Overpasss";
    margin: 5px 20px;
    padding: 5px 0px;
    border-radius: 10px;
    
    border: 1px solid black
  }

  .distres-box {
    margin: 40px 5px;
  }
  
  .crisis-option {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
    animation:ease-out;
    transition: 0.5s;
    padding: 10px 10px;
    width:250px;
  }

  }