.home-sage {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  opacity: 0.5;
  transform: scale(1.2)

}


.sageleafone {
  transform: scaleX(-1);
}

.sageleaf {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

.sage-cedar-pic {
  width:80px;

}

.dots {
  width: 20px;
  margin-top: 23px;
}

.leaves {
  width:65px;
}


@media (max-width: 1024px){
  .home-sage {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

  .sageleaf {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
  }
}


@media (max-width: 768px){
  .home-sage {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 10px;
  }
}

.sageleaf {

  margin-left: 5px;
  margin-right: 5px;
  opacity: 1;
}

.sage-cedar-pic {
  width:50px;

}

.dots {
  width: 10px;
  margin-top: 18px;
}

.leaves {
  width:40px;
  margin-top: 5px;
}

@media (max-width: 425px){
  .home-sage {
    display: flex;
    justify-content: center;
    margin: 20px 10px 10px 10px;
    opacity: 0.5;
    padding-bottom: 0px;
  }

  .sageleaf {
    margin-left: 2px;
    margin-right: 2px;
  
  }

}

@media (max-width: 375px){
  .home-sage {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .sageleaf {
    
    margin-left: 1px;
    margin-right: 1px;

  }

}

