@font-face {
  font-family: Antro_Vectra;
  src: url("../fonts/Antro_Vectra.otf");
}

@font-face {
  font-family: Antro_Vectra_Bold;
  src: url("../fonts/Antro_Vectra_Bolder.otf");
}


.taylor-section {
  padding-bottom: 120px;
 
}


.taylor-title {
  font-size: 70px;
  font-family: 'Antro_Vectra_Bold';
  text-align: center;
  color:  #2e3e2b;
  margin-top:30px;
  margin-bottom: 50px;
}

.structure-taylor-page {
  margin: 0 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.all-descriptions {
  font-family: "Overpass";
  font-size: 23px;
  color:#728153;
  animation:ease-out;
  transition: 0.5s;
  margin:0px 80px;
}



.sage-initiation:hover {
  background-color: rgb(246, 246, 245);
  color:#2e3e2b;
  border-radius: 15px;
}

.sage-cedar-description:hover {
  background-color: rgb(246, 246, 245);
  color:#2e3e2b;
  border-radius: 15px;
}



.more-cedar-description:hover {
  background-color: rgb(246, 246, 245);
  color:#2e3e2b;
  border-radius: 15px;
}

.taylor-pic {
  margin-left:0;
  transform: scale(1);
  height: 800px;
}


.taylor6-pic {
  display: none;
}


.taylor5-pic {
  display: none;
}

 .green-leaves {
    display: flex;
    justify-content: center;
  }

  .single-green-leaf {
    margin: 30px 20px 0 20px;
    font-size: 50px;
    color: #91b689; 
  }


@media (max-width: 1440px) {
  .all-descriptions {
    margin:10px 50px 0px 50px;
    font-size: 18px;
  }

  .taylor-description {
    margin-bottom: 5px;
  }
  
  .sage-initiation { 
    margin-bottom: 5px;
  }
  
  .sage-cedar-description {
    margin-bottom: 5px;
  }
  
  .more-cedar-description {
    margin-bottom: 5px;
  }

  .taylor-pic {
    margin-left:0;
    transform: scale(1);
    height: 700px;
  }

  .taylor-title {
    margin-top:20px;
    margin-bottom: 30px;
  }

 

}




@media (max-width: 1024px){


  .taylor-pic {
    height:500px;
    margin-top: 80px;
    margin-left: 70px; 
  }

  .taylor-description {
    width: 500px;
    margin-bottom: 20px;
    margin-top:10px;
  }
  
  .sage-initiation {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .sage-cedar-description {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .more-cedar-description {
    width: 500px;
    margin-bottom: 20px;
  }
  
}

@media (max-width: 768px){
  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.all-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.taylor-description {
  width: 700px;
  margin-bottom: 0px;
}

.sage-initiation {
  width: 700px;
  margin-bottom: 0px;
}

.sage-cedar-description {
  width: 700px;
  margin-bottom: 0px;
}

.more-cedar-description {
  width: 700px;
  margin-bottom: 0px;
}

.taylor-title {
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.taylor-pic {
  height:550px;
  margin-top: 50px;
  margin-left: 0px;
  border-radius: 20px;
}

}

@media (max-width: 425px){

  .taylor-section {
    padding-bottom: 60px;
  }

  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.all-descriptions {
    margin:10px 10px 0px 10px;
    font-size: 15px;
  }

.taylor-pic {
 display: none;
}

.taylor6-pic {
  display: flex;
  width:100%;
  margin-right: 0px;

}


.taylor-title {
  font-size: 42px;
  margin-bottom: 0px;
  margin-top: 30px;
}

}




@media (max-width: 375px){

  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.all-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taylor-description {
  width: 350px;
  font-size: 15px;
  margin-top:10px;
}

.sage-initiation {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
}

.sage-cedar-description {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
}

.more-cedar-description {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
  
}

.taylor-pic {
  height:400px;
  font-size: 15px;
}

.taylor-title {
  margin-left: 0px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Antro_Vectra_Bold';
  margin-top: 60px;
}

@media (max-width: 375px){
  .all-descriptions {
    margin:10px 10px 0px 10px;
    font-size: 10px;
  }

  .taylor-pic {
    margin-right:0px;
  }
  .taylor-title {
    font-family: 'Antro_Vectra_Bold';
    font-size: 45px;
  }

}

}

