.video-source {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1000px;
  object-fit: contain;

}

@media (max-width: 768px){

  .video-source {
  height: 1000px;
  }
}

@media (max-width: 450px){

  .video-source {
  height: 1000px;
  }
}