
/* ------Main site -------*/


/* --Get Help ------- */

.gethelp-postioning {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}


.gethelp-button {
  border:none;
  background-color: #728153;
  padding:10px  20px 10px 20px;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 25px;
  transition: 0.5s;
  animation: ease-in;
  color: aliceblue;
  box-shadow: 0px 0px 12px -5px;
}
.gethelp-button:hover {
color: white;
background-color: rgb(100, 131, 72);
box-shadow: 0px 0px 20px -5px;
transform: scale(1.01);
cursor: pointer;
}




@media (max-width: 1440px){



.gethelp-button {
    border:none;
    background-color: #728153;
    padding:10px  20px 10px 20px;
    border-radius: 5px;
    font-family: "Poppins";
    font-size: 25px;
    transition: 0.5s;
    animation: ease-in;
    color: aliceblue;
    box-shadow: 0px 0px 12px -5px;
}
.gethelp-button:hover {
  color: white;
  background-color: rgb(100, 131, 72);
  box-shadow: 0px 0px 20px -5px;
  transform: scale(1.01);
}
}



@media (max-width: 1200px){

  .gethelp-postioning {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
} 

@media (max-width: 1024px){ 
  .gethelp-postioning {
    bottom: 10px;
    right: 10px;
}
.gethelp-button {
  border:none;
  font-size: 22px;
}
}

@media (max-width: 768px){ 
  .gethelp-postioning {
    bottom: 10px;
  right: 10px;
}

.gethelp-button {
  padding:8px  16px 8px 16px;
  border-radius: 5px;
  font-size: 20px;
}
}

@media (max-width: 425px){

  .gethelp-postioning {
    right:10px;
    bottom:10px
}
  .gethelp-button {
    border:none;
  
    padding:8px  16px 8px 16px;
    border-radius: 5px;
    font-size: 17px;
 }
} 

 @media (max-width: 375px){
  .gethelp-postioning {
   
    right:10px;
    bottom:10px
 }
}


@media (max-width: 320px){
  .gethelp-postioning {
    
    right:10px;
    bottom:1opx
 }

}